:root {
  --color: #2b3674;
  --margin: 10px;
  --fontSize: 15px;
}
@font-face {
  font-family: "CustomFont";
  src: url("./assets/fonts/SourceSerifPro-Regular.otf") format("opentype");
  /* font-weight: normal;
  font-style: normal; */
}
* {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: var(--fontSize);
  color: var(--color);
  font-family: "CustomFont", sans-serif;
}

ul {
  list-style: none;
}
.darkColor {
  color: var(--color);
  font-weight: 600;
}
.textTitle {
  color: var(--color);
  font-size: 1.25rem;;
  font-weight: 650;
}
body {
  background-color: rgba(163, 174, 208, 0.5);
}

@media (max-width: 739px) {
  * {
    font-size: 12px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
}
